<div class="container">
  <h2>News List</h2>
  <table class='table'>
    <tr>
      <th>S.No.</th>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% var count=0; %>
    <% _.each(news, function(news) { count++; %>
      <tr data-id="<%= news.id %>" data-model="news">
        <td><%= count %></td>
        <td><%= news.title %></td>
        <td><%= news.description %></td>
        <td><a href="news/edit/<%= news.id %>" class="btn btn-sm btn-warning">Edit</a></td>
        <td><form action="/news/destroy/<%= news.id %>" method="POST">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form></td>
      </tr> 
    <% }) %>
  </table>

    <form ng-submit="submitAddNewsForm()" id="sign-up-form" class="form-signin" name="addNews" >
      <h3 class="form-signin-heading">Add News</h3>
      <div class="row">

        <!-- N A M E -->
        <div class="col-md-12"><label>News title</label></div>
        <div class="control-group form-group col-md-12" ng-class="{'has-error':addNews.title.$invalid && addNews.title.$dirty}">
          <input type="text" class="form-control" placeholder="e.g. Nikola Tesla" name="title" ng-model="addNewsForm.title" ng-maxlength="50" required>
          <span class="help-block has-error" ng-if="addNews.title.$dirty">
            <span ng-show="addNews.title.$error.required">Title is required.</span>
            <span ng-show="addNews.title.$error.maxlength">The title cannot be more than 50 characters.</span>
          </span>
        </div>

        <!-- D E S C R I P T I O N -->
        <div class="col-md-12"><label>News Description</label></div>
        <div class="control-group form-group col-md-12" ng-class="{'has-error':addNews.description.$invalid && addNews.description.$dirty}">
          <input type="text" class="form-control" placeholder="Description" name="description" ng-model="addNewsForm.description" ng-maxlength="1000" required>
          <span class="help-block has-error" ng-if="addNews.description.$dirty">
            <span ng-show="addNews.description.$error.required">description is required.</span>
            <span ng-show="addNews.description.$error.maxlength">The description cannot be more than 1000 characters.</span>
          </span>
        </div>      

      </div>

      <br/>

      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="addNews.$invalid">
        <span ng-show="!addNewsForm.loading">Add News</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="addNewsForm.loading" ></span>
        <span ng-show="addNewsForm.loading">Adding your new News...</span>
      </button>

    </form>
</div>